<div class="row">
  <div class="well col-md-4 col-md-offset-4">
    <h1>Editing Char</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @char %> |
    <%= link_to 'Back', chars_path %>
  </div>
</div>
